<nav class="admin-header container">
  <ul>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/create">Create Post</a></li>
    <li><a href="/admin/settings">Settings</a></li>
    <li><a href="/logout">Log Out</a></li>
  </ul>
</nav>
