<div class="anscombe">
  <div class="dotwrapper"><div class="dot"></div></div>
  <div class="dotwrapper"><div class="dot"></div></div>
  <div class="dotwrapper"><div class="dot"></div></div>
  <div class="dotwrapper"><div class="dot"></div></div>
  <div class="dotwrapper"><div class="dot"></div></div>
  <div class="dotwrapper"><div class="dot"></div></div>
  <div class="dotwrapper"><div class="dot"></div></div>
  <div class="dotwrapper"><div class="dot"></div></div>
  <div class="dotwrapper"><div class="dot"></div></div>
  <div class="dotwrapper"><div class="dot"></div></div>
  <div class="dotwrapper"><div class="dot"></div></div>
</div>
