<header class="site-header">
	<nav>
		<ul>
			<li id="title"><a href="/">Matt Policastro</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/posts">Posts</a></li>
		</ul>
	</nav>
</header>
