<script>
document.addEventListener("DOMContentLoaded", function() {
  document.body
});
</script>
<div class="container">
  <section id="lede" class="main">
    <h1>I'm Matt.</h1>
    <p>I work with data and computers.</p>
  </section>
</div>
