<section class="grid-container">
  <h1>Log In</h1>
  {{> messages}}
  <form method="post" action="/login" autocomplete="on">
    <input type="email" name="username" placeholder="Username" autofocus="yes" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Log In">
  </form>
</section>
