@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "anscombe/anscombe";

body {
	margin: 0;
}

.grid-container {
	@include outer-container;
}

.site-header {
	background-color: royalblue;
}

.admin-header {
	background-color: cornflowerblue;
}

nav {
	p, li, a {
		color: white;
	}
	ul {
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		li:first-child {
			margin-right: auto;
		}
		li:not(:first-child) {
			padding-left: 1em;
		}
	}
}
