@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

@include font-face("Cooper Hewitt", "/fonts/CooperHewitt/CooperHewitt-Book", 400, $file-formats: eot svg woff);
@include font-face("Cooper Hewitt", "/fonts/CooperHewitt/CooperHewitt-Bold", 700, $file-formats: eot svg woff);
@include font-face("Cooper Hewitt", "/fonts/CooperHewitt/CooperHewitt-Heavy", 800, $file-formats: eot svg woff);

html {
	min-height: 100%;
}

body {
	margin: 0;
}

header, footer {
	background-color: $light-gray;
	font-family: $heading-font-family;
	* {
		color: $dark-gray;
		font-weight: 700;
		vertical-align: middle;
	}
  width: 100%;
	display: inline-block;
}

header {
	ul {
		li {
			padding: $spacing;
//			font-size: modular-scale(0);
			float: right;
			padding-bottom: .35em;
		}
		li:first-child {
			float: left;
		}
	}
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	//padding: $spacing;
	* {
		padding: ($spacing / 2) 0;
		margin-bottom: -.15em
	}
}

.post + .post {
	margin-top: $spacing * 4;
}

.container {
	@include outer-container;
}

.writing {
	padding: 0 ($spacing + .25) 2em;
	margin-bottom: 2em;
	* + * {
		margin: $spacing 0 $spacing;
	}
	ul {
		@extend %default-ul;
	}
	ol {
		@extend %default-ol;
	}
	time {
		font-style: italic;
	}
}

.main {
	@include media($medium-screen-up){
		@include span-columns(6);
		@include shift(1);
	}
	@include media($large-screen-up){
		@include span-columns(8);
		@include shift(2);
	}
	@include media($extra-screen-up){
		@include span-columns(10);
		@include shift(3);
		font-size: modular-scale(1);
	}
	@include media($giant-screen-up){
		@include span-columns(8);
		@include shift(4);
	}
}

.yield {
	position: absolute;
	top: 0px;
	width: 100%;
}

#page {
  position: relative;
}

#lede {
	text-align: right;
	padding: 1.5em 0 2.5em;
	* {
		margin: -($spacing / 2) 0;
	}
	h1 {
		font-size: modular-scale(3);
	}
	p, time {
		font-style: italic;
	}
}
